* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-image: url("/bg-main-desktop.png");
  background-repeat: no-repeat;
}

.cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inputs-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.second-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.front-card,
.back-card {
  background-size: contain; /* Ensures the image covers the entire container */
  background-repeat: no-repeat;
  width: 418px;
  height: 230px;
  color: white;
}

.front-card {
  background-image: url("/bg-card-front.png");
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back-card {
  background-image: url("/bg-card-back.png");
  align-self: flex-end;
  position: relative;
}

.color-white {
  color: white;
}

.card-number {
  font-size: 32px;
  margin-top: 30px;
}

.cvv-number {
  position: absolute;
  top: 103px;
  right: 50px;
}

.label-container {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  letter-spacing: 1.5px;
  color: hsl(278, 68%, 11%);
  gap: 5px;
}

input {
  height: 40px;
  font-family: "Space Grotesk", sans-serif;
  border: 1px solid hsl(270, 3%, 87%);
  padding-left: 15px;
  border-radius: 5px;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

input:focus {
  outline-color: hsl(278, 68%, 11%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

button {
}
