* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-image: url("/bg-main-desktop.png");
  background-repeat: no-repeat;
}

.cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inputs-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.second-inputs-container {
  display: flex;
  flex-direction: column;
}

.front-card,
.back-card {
  background-size: contain; /* Ensures the image covers the entire container */
  background-repeat: no-repeat;
  width: 418px;
  height: 230px;
  color: white;
}

.front-card {
  background-image: url("/bg-card-front.png");
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back-card {
  background-image: url("/bg-card-back.png");
  align-self: flex-end;
  position: relative;
}

.color-white {
  color: white;
}

.card-number {
  font-size: 32px;
  margin-top: 30px;
}

.cvv-number {
  position: absolute;
  top: 103px;
  right: 50px;
}
